xformers==0.0.23.post1 --index-url https://download.pytorch.org/whl/cu121
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.2.post2-py3-none-win_amd64.whl#egg=bitsandbytes
https://github.com/jakaline-dev/Triton_win/releases/download/2.1.0/triton-2.1.0-cp311-cp311-win_amd64.whl